
.wrapper {
    overflow: hidden;
    width: 90vh;
    height: 90vh;
    border: 10px solid black;
    position: absolute;
}

.wrapper.moviendo{
    animation-duration: 1s;
    animation-name: moviendo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  @keyframes moviendo {
    from {
      left: 0;
    }
    to {
      left: 400px;
    }
  }